@page "/products"
@using Frontend.Client
@inject ApiClient Api
@inject NavigationManager Nav
@inject IJSRuntime JS

<h3>Productos</h3>

@if (isLoading)
{
    <p>Cargando...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th style="width: 220px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in products)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ProductDto> products = null;
    private bool isLoading;
    private string? error = null;

    private async Task<bool> ConfirmAsync(string message)
        => await JS.InvokeAsync<bool>("confirm", message);

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        try
        {
            isLoading = true;
            error = null;
            products = await Api.ProductAsync();
        }
        catch(Exception ex)
        {
            error = ex.Message;
        }
        finally
        {
            isLoading = false;
        }
    }
}
